<div id="donation-success-page" class="page">

  <div class="sub_heading">
    <h2> Thank you for your donation </h2>
    <span class="line"></span>
  </div><!--//sub_heading-->

  <p class="larger center">
    All of us at the Louise Da-Cocodia Foundation would like to thank you from the
    bottom of our hearts for your donation. Your money will go a long way in helping
    us achieve our goals.
  </p>

</div><!--//donation-success-page-->