<div id="blog" class="page container">

  <div class="two-thirds column">

    <h2> Louise Da-Cocodia Blog </h2>

    <!-- <div class="page-image">
      <%= image_tag 'blog-header.jpg', size: '600x200', alt: 'About Louise Da-Cocodia Image' %>
    </div> -->

    <!-- <h3> Showing the latest blog entries. </h3> -->

    <% if @posts.any? %>
      <%= render @posts %>
    <% else %>
      <p> No blog entries have yet been made. </p>
      <% if logged_in? %>
        <p><%= link_to 'Create one?', blog_new_path %></p>
      <% end %>
    <% end %>

  </div><!--//two-thirds columns-->

  <aside class="one-third column sidebar">
    <%= render 'common/sidebar' %>
  </aside><!--//one-third columns sidebar-->

</div><!--//about-->