<%= image_tag "#{@post.image}", size: '920x300' %>

<div class="sub_heading">
  <h2> Louise's Blog: <%= @post.title %> </h2>
  <span class="line"></span>
</div><!--//sub_heading-->

<div class="blog">
  <%= raw @post.body %>
</div><!--//blog-->