<div class="page">

	<%= image_tag "large-#{@post.image}" %>

	<div class="sub_heading">
		<h2> <%= @post.title %> </h2>
		<span class="line"></span>
	</div><!--//sub_heading-->

	<div class="blog">
		<%= @post.body %>
	</div><!--//blog-->

</div><!--//page-->