<div id="donate" class="page container">

  <div class="two-thirds column">

    <h2> Donate to our Foundation </h2>

    <div class="page-image">
      <%= image_tag 'charity-donate.jpg', size: '640x200', alt: 'Donate to Louise Da-Cocodia Foundation' %>
    </div>

    <h3> How you can Support our Trust </h3>

    <p>
      The Trust is committed to the advancement of the educational performances and achievements of African-Caribbean heritage students in schools, colleges and universities.
    </p>

    <p>
      To aid the continuing work of Louise Da-Cocodia in the field of education, donations
      can be made to:
    </p>

    <address>
      <p>
        <strong>The Louise Da-Cocodia Education Trust</strong><br>
        <span>4 Westerling Way</span><br>
        <span>Moss Side, Manchester</span><br>
        <span>M16 7EA</span>
        <br>
        <br>
        <span><%= link_to 'Contact Us', contact_path %></span>
      </p>
    </address>

    <p class="note"> To secure almost a third extra from the Government opt to gift aid your donation. </p>

    <hr>

    <p class="bigger">
      Did you know? You can also donate online using a secure online payment gateway?
    </p>

    <p>
      <%= link_to 'Donate Online', '/#donate', class: 'button' %>
    </p>

  </div><!--//two-thirds columns-->

  <aside class="one-third column sidebar">
    <%= render 'common/sidebar' %>
  </aside><!--//one-third columns sidebar-->

</div><!--//about-->