<div id="about" class="page container">

  <div class="two-thirds column">

    <h2> About our Foundation </h2>

    <div class="page-image">
      <%= image_tag 'about-us.jpg', size: '600x200', alt: 'About Louise Da-Cocodia Image' %>
    </div>

    <h3> Find out a little bit about our charity, and what we do </h3>

    <p>
      Louise Da-Cocodia (affectionately known as Mrs D), was one of the founder members of the Cariocca Education Trust. The Trust was established in 2000 to assist and offer financial bursaries to African-Caribbean heritage students enrolled on further and higher education courses in areas of accountancy, science and engineering and information technology. The bursaries were funded by Cariocca Enterprises.
    </p>

    <p>
      Although the Trust is no longer a provider of small bursaries, over the years its activities include amongst others, the establishment of a Saturday Supplementary School, the organisation of Educational conferences and research to:
    </p>

    <p class="note">
      Understand the educational needs of Black-Caribbean young men and developing pathways and action for improvement.
    </p>

    <p class="note">
      Explore the particular experiences of young Black-Caribbean origin who have been excluded from school.
    </p>

    <p class="note">
      Develop and implement aspiration and engagement strategies for working with young Black-Caribbean men.
    </p>

    <p>
      Following the death of Louise Da-Cocodia on the 13th March 2008, the decision was made to re-name Cariocca Education Trust in her honour.  This was also in recognition of her involvement in the establishment of organisations in areas of health, housing, education and enterprise.
    </p>

  </div><!--//two-thirds columns-->

  <aside class="one-third column sidebar">
    <%= render 'common/sidebar' %>
  </aside><!--//one-third columns sidebar-->

</div><!--//about-->