<div id="objectives" class="page container">

  <div class="two-thirds column">

    <h2> Our Objectives </h2>

    <div class="page-image">
      <%= image_tag 'our-objectives.jpg', size: '640x200', alt: 'Our Objectives' %>
    </div>

    <h3> The Aims and Objectives of the Trust </h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, non magnam amet dolores beatae incidunt natus sequi id enim sit qui ullam nostrum assumenda consequatur dolore. Nemo provident molestias voluptatibus!
      </p>

      <p class="note">
        Identify and address barriers to education, training and employment for African-Caribbean heritage students
      </p>

      <p class="note">
        Undertake research that will influence both local and national policies for the benefit of African-Caribbean heritage students
      </p>

      <p class="note">
        Enable parents to access information and develop skills to increase their active involvement in the education of their children
      </p>

      <p class="note">
        Work in partnership with local colleges, universities and businesses in the provision of mentors and employment opportunities
      </p>

      <p class="note">
        Work in partnership with a range of community organisations and schools in the delivery of supplementary educational programmes, for example, the Saturday School
      </p>

      <p> If you would like to help us achieve some of these goals why not <%= link_to 'volunteer?', about_volunteering_path %> </p>

  </div><!--//two-thirds columns-->

  <aside class="one-third column sidebar">
    <%= render 'common/sidebar' %>
  </aside><!--//one-third columns sidebar-->

</div><!--//about-->