<div id="objectives" class="page container">

  <div class="two-thirds column">

    <h2> Volunteering </h2>

    <div class="page-image">
      <%= image_tag 'volunteer.jpg', size: '640x200', alt: 'Volunteer for Louise Da-Cocodia Image' %>
    </div>

    <h3> I want to Volunteer. So what will I be Doing? </h3>

    <p>
      As a volunteer with the Mrs D’s Supplementary school, you will have the opportunity to become involved with a range of educational, cultural and personal development activities. These may include:
    </p>

    <ul>
      <li>1) Teaching </li>
      <li>2) Mentoring </li>
      <li>3) Supporting and Coaching </li>
    </ul>

    <h3> What will I get out of Volunteering? </h3>
    <p> You will have the opportunity to: </p>

    <ul>
      <li>1) Be part of a team comprising of teachers, parents, students and trustees </li>
      <li>2) Work with children and young people within a community-based setting </li>
      <li>3) Develop your practice as a trainee teacher or youth and community worker </li>
    </ul>

    <p class="note">
      Okay, I'm in. <%= link_to 'Find out more', contact_path %>
    </p>

  </div><!--//two-thirds columns-->

  <aside class="one-third column sidebar">
    <%= render 'common/sidebar' %>
  </aside><!--//one-third columns sidebar-->

</div><!--//about-->