/**
 * Hey Richard,
 *
 * I have imported getskeleton <www.getskeleton.com> which provides some basic CSS
 * functionality including a reset and some basic media query rules.
 *
 * Look for the 'Johns code starts here.' section to find where my CSS starts.
 *
 * Once again I have used SASS thats why everything has been dumped into this one file.
 *
 * - Cheers John.
 */
@import 'base';
@import 'skeleton';

/* Table of Content
==================================================
  Johns code starts here.

/* #Site Styles
================================================== */
body {
  font: normal 13px Helvetica, sans-serif;
  background: #f7f7f7;
}

/* #Header
================================================== */
header {

  background: url('header.png') repeat-x;
  height: 65px;
  max-height: 65px;

  nav {
    .right {
      float: right;
    }
    padding-top: 20px;

    width: 100%;
    li {
      // display: inline-block;
      margin-right: 10px;
      position: relative;
      float: left;
    } // end li

    li.current a {
      background: rgba(0, 0, 0, 0.20);
    } // li.current.a

    a {
      color: #333;
      font: bold 14px 'Bitter', Arial, sans-serif;
      padding: 5px 10px;
      border-radius: 3px;
      text-decoration: none;
      &:hover {
        background: rgba(0, 0, 0, 0.20);
      }
    } // end a

    ul li ul {
      display: none;
      position: absolute;
      padding: 5px 0 0 0;
      z-index: 99;
      top: 41px;
      left: -30px;
      width: 150px;
      background: #888;
      background: rgba(0, 0, 0, 0.70);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      a {
        display: block;
        font-size: 12px;
        color: #fff;
        &:hover {
          background: none;
          color: #69799a;
        }
      } // a
    } // ul li ul

    ul li.current ul li a {
      background: none;
    } // ul li.current ul li a

  } // end nav
}

#page_heading {
  background: #69799a;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 65px;
  height: 360px;
  span.tag {
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
    font-weight: bold;
  }
}

/* #Logo
================================================== */
#logo {
  margin: 10px auto;
  a {
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    position: relative;
    top: 10px;
    margin-right: 10px;
  }
}

/* #Generic Styles
 * Generic CSS used across a majority of pages.
================================================== */
#page {
  border: 1px solid #c8c9c9;
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 20px;
  overflow: hidden;

  margin: 90px auto 20px auto;

  min-height: 240px;

  /**
   * Styling elements that are inside of the
   * page div.
   */
  .home .one-third {
    max-width: 90%;
    border: 1px solid #e5e5e5;
    margin: 5px 3px;
    background: #f8f8f6;
    height: 200px;
    text-align: center;
    border-radius: 3px;
  }

  .page-image img {
    border-radius: 3px;
    width: 600px;
    height: 200px;
  }

  .two-thirds {
    // background: red;
  }

}

/* #SubHeading
================================================== */
.sub_heading {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  span.line {
    background: #69799a;
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 20px;
  }
  h2 {
    position: relative;
    z-index: 2;
    background: #fff;
    display: inline;
    padding: 0 15px;
  }
}

/* #About
================================================== */


/* #Sidebar
================================================== */
.inner-sidebar {
  width: 88%;
}


// .page_wrapper {
//   background: #f9f9f9;
//   padding: 40px 0;
//   overflow: hidden;
//   .with_sidebar {
//     width: 700px;
//     float: left;
//   }
// }



.home .one-third .inner-block {
  padding: 10px;
  p {
    font-size: 14px;
  }
}

.royalslider {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  img {
    border-radius: 5px;
  }
}

.donation {
  #donation-feedback {
    font-size: 14px;
    display: none;
    color: red;
    display: block;
    margin-bottom: 10px;
  }
  padding-top: 10px;
  border: 1px solid #e5e5e5;
  background: #f8f8f6;
  border-radius: 3px;

  h4 {
    text-align: center;
    margin-top: 10px;
  }

  .inner-donation {

    text-align: center;

    .donation-slider {

      font-size: 18px;

      .price {
        display: inline;
        position: relative;
        bottom: 3px;
      }

      input[type=range] {
        margin: px 0;
        width: 85%;
      }
    }

    h3 {
      text-align: center;
      margin-bottom: 15px;
    }

    h4 {
      margin-bottom: 15px;
    }
  }
}

.information {
  h4 {
    color: #69799a;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .blog {
    .blog-list-item {
      border-bottom: 1px solid #ddd;
      margin-bottom: 10px;
      .links {
        margin-bottom: 5px;
      }
      &:last-child {
        border: none;
      }
    }
  }

  .events {
    .event-item {
      border-bottom: 1px solid #ddd;
      width: 90%;
      margin-bottom: 10px;
    }
    .date {
      width: 40px;
      height: 33px;
      padding-top: 7px;
      background: #69799a;
      color: #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      text-align: center;
      margin-right: 10px;
      font-size: 12px;
      float: left;
      line-height: 13px;
      position: relative;
      top: 5px;
      span {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

}

// About Page
// #about {

//   input {
//     margin-bottom: 0;
//   }

//   form {
//     margin-bottom: 0;
//   }

//   .button {
//     margin-bottom: 5px;
//   }

//   // h2 {
//   //  text-decoration: underline;
//   // }

//   ul {
//     margin: 0;
//   }

//   h3 {
//     font-size: 17px;
//     margin-top: 5px;
//   }

//   .about-image img {
//     width: 100%;
//     height: 200px;
//     background: #ddd;
//     border-radius: 5px;
//   }

//   p {
//     margin-top: 10px;
//     font-size: 12px/14px;
//   }

//   ul li {
//     font-weight: bold;
//     &:first-child {
//       margin-top: 15px;
//     }
//   }
// }

/* #History
 * Everything relating to the history goes here.
================================================== */
.blocks-in-time {
  width: 83%;
  margin: 0 auto;
}

.time-block {
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #f9f9f9;
  height: 145px;
  padding: 5px;
  overflow: hidden;
  margin: 0 10px 0 0;
}

.year-list {
  h5 {
    font-family: 'Bitter';
    font-size: 12px;
    font-weight: bold;
  }
  border-left: 1px solid #69799a;
  padding-left: 10px;
  height: 100px;
  position: relative;
  right: 5px;
}



.accomplishments {
  li {
    font: normal 14px/16px 'Bitter';
  }
}

// TIMELINE
.timeline {
  border-top: 1px solid #888;
  padding-top: 10px;
  width: 100%;
  margin: 0 auto;
  ul {
    text-align: center;
    height: 40px;
    li {
      display: inline;
      margin-right: 5px;
      font-size: 14px;
      a {
        text-decoration: none;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}

// BLOG
#blog {
  .single-blog {
    // border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    img {
      border-radius: 4px;
    }
    .author {
      position: relative;
      bottom: 2px;
      left: 5px;
    }
    .options {
      margin-top: 10px;
      border-top: 1px dotted #69799a;
      padding-top: 5px;
    }
    .options ul li {
      display: inline;
      margin-right: 3px;
      a {
        text-decoration: none;
        font: normal 14px 'Bitter';
        color: #69799a;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* #Footer
================================================== */
footer {
  // Some basic styling
  padding-top: 20px;
  border-top: 1px solid #c9c9c9;
  background: #fff;
  text-align: center;

  .one-third {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
  }

  h5 {
    text-align: center;
    font-size: 18px;
    color: #69799a;
    margin-bottom: 10px;
  }

  .copyright {
    font-size: 14px;
    border-radius: 4px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 4px 8px;
    margin-top: 3em;
  }
}

/* #Typography
================================================== */
h1, h2 {
  font-family: 'Bitter'; // Needs changing throughout
  color: #69799a;
}
h3, h4 {
  font-family: 'Bitter';
  font-weight: normal;
  font-size: 20px;
  margin-top: 10px;
  color: #292929;
}

h1 {
  font-size: 32px;
  margin-bottom: 25px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
  small {
    color: #69799a;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    bottom: 12px;
  }
}
h4 {
  font-size: 20px;
}

p {
  font-size: 13px;
  line-height: 20px;
  margin: 10px 0;
}

p.bigger {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 22px;
  color: #666;
}

p.center {
  text-align: center;
}

a {
  color: #69799a;
  &:hover {
    text-decoration: none;
  }
}

span.email {
  font-size: 14px;
}

hr {
  border: none;
  border-bottom: 1px solid #69799a;
  display: block;
  margin: 25px 0;
}

.button {
  background: #69799a; /* Old browsers */
  background: #69799a -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
  background: #69799a -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
  background: #69799a -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
  background: #69799a -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
  background: #69799a -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
  background: #69799a linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  color: #fff !important;
  border: none;
  text-shadow: none;
  &:hover {
    border: none;
    background: #69799a;
  }
}

p.note {
  font-weight: bold;
  font-family: 'Bitter';
  margin: 10px 0;
  color: #69799a;
}

p.feedback {
  height: 28px;
  text-align: center;
  font-size: 16px;
  font-family: 'Bitter';
  padding: 8px 0 0 0;
  z-index: 100;
  width: 400px;
  box-shadow: #bbb 0 2px 4px 0;
  margin: 0 auto 20px auto;
  border-radius: 3px;
  cursor: pointer;
}

p.louise {
  text-align: center;
  font-size: 16px;
  font-family: 'Bitter';
  font-weight: bold;
  color: #84a0c3;
}

.error, .alert {
  background-color: #ea7e7e;
  border: 1px solid #a71010;
  color: #fff;
}
.success {
  background: #a5e383;
  border: 1px solid #337f09;
}

.notice {
  background: #c6d8ee;
  border: 1px solid #84a0c3;
}

/* #Misc
================================================== */
.clearfix:before, .clearfix:after {
  content: "JohnCrossley";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.icon {
  font-family: "FoundationIconsGeneral";
  width: auto;
  height: auto;
  font-size: 24px;
  color: #69799a;
}

/* #Form
================================================== */
textarea {
  width: 400px;
  height: 120px;
}

.form-errors {
  color: red;
  font: bold 14px 'Bitter';
}

.blog-textarea {
  width: 600px ;
  height: 200px;
  padding: 5px;
  font: normal 14px/20px 'Helvetica';
}

// LOGIN
.login-section {
  h2 {
    margin-bottom: 10px;
    font-family: 'Bitter';
  }
}

// FORM
#donation-success-page {
  form {
    margin-top: 20px;
  }
}



/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    #page {
      .page-image img {
        width: 99%;
      }
    }
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    h2 {
      text-align: center;
    }
    #page {
      h3 { font-size: 18px; }
      .two-thirds { width: 90%; }
      .page-image img {
        width: 99%;
      }
    }
    #logo {
      h1 { font-size: 18px; }
      span.tag { font-size: 12px; }
    }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    body {
      overflow-x: hidden;
    }
    nav {
      ul li {
        margin-right: 3px;
      }
      ul li a {
        font-size: 10px;
      }
    }

    .page-image {
      display: none;
    }

    .contact-image img {
      display: none;
    }

    #page {
      h2 {
        font-size: 22px;
        text-align: center;
      }
      h3 { text-align: center; }
      .two-thirds {
        width: 90%;
      }
    }
    #logo {
      position: relative;
      top: 5px;

      h1 a img {
        height: 30px;
        width: 30px;
      }
      h1 {
        font-size: 26px;
      }
      span.tag {
        display: block;
        position: relative;
        top: -30px;
        left: 35px;
      }
    }

    .home .one-third {
      width: 85% !important;
    }

    // FORM
    input[type=text] {
      width: 60%;
    }
  }


/* #Font-Face
================================================== */
/**
 * Custom fonts - I could have these come in from Google Fonts but it slows
 * down connection especially during development.
 */

@font-face {
  font-family: 'FoundationIconsGeneral';
  src: font-url('foundation-icons-general.eot');
  src: font-url('foundation-icons-general.eot?#iefix') format('embedded-opentype'),
       font-url('foundation-icons-general.woff') format('woff'),
       font-url('foundation-icons-general.ttf') format('truetype'),
       font-url('foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}