// TODO: Added fonts?


/* Table of Content
==================================================
	#Site Styles
	#Misc
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
	font: normal 13px Helvetica, sans-serif;
	// font-size: 13px;
	// font-family: Helvetica, sans-serif;
	background: #f7f7f7;
}

header {
	background: url('header.png') repeat-x;
	height: 65px;
	span {
		font-weight: normal;
	}
	nav {
		float: left;
		height: 65px;
		ul {
			list-style: none;
			padding-top: 22px;
			li {
				float: left;
				margin-right: 15px;
				position: relative;
			}
		}
		a {
			color: #333;
			font-family: 'Bitter', sans-serif;
			text-decoration: none;
			font-size: 14px;
			font-weight: bold;
			padding: 5px 10px;
			border-radius: 3px;
			&:hover {
				background: rgba(0, 0, 0, 0.15);
			}
		}
		li.current a {
			background: rgba(0, 0, 0, 0.30);
		}
	}

	nav ul li.current ul li a {
		display: block;
		background: none;
		color: #fff !important;
		border-radius: none;
	}

	nav ul li ul {
		list-style: none;
		position: absolute;
		z-index: 99;
		top: 10px;
		right: -100px;
		width: 160px;
		padding: 29px 0 5px 0;
		display: none;
		li {
			display: block;
			width: 100%;
			margin-bottom: 0;
			padding-bottom: 0;
			padding: 2px 15px;
			background: #000;
			background: rgba(0, 0, 0, 0.70);
			a {
				display: block;
				padding: 8px 0;
				font-size: 12px;
				font-weight: bold;
				border-radius: 3px;
				color: #fff !important;
				&:hover {
					background: none;
					color: #aaa !important;
				}
			}
		}
	}

	.user-section {
		float: right;
		// background: red;
		position: relative;
		top: 20px;
		font: bold 14px/16px 'Bitter';

		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// GENERIC PAGE
.page {
	border: 1px solid #c8c9c9;
	border-radius: 4px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.08);
	background: #fff;
	padding: 20px;
	overflow: hidden;
	margin-top: 50px;

	min-height: 400px;

	.about .one-third {
		h4 {
			text-align: center;
		}
		border: 1px solid #e5e5e5;
		margin: 0 0 0 5px;
		background: #f8f8f6;
		height: 200px;
		text-align: center;
		border-radius: 3px;
	}
}

.page_heading {
	background: #69799a;
	width: 100%;
	height: 90px;

	.logo {
		padding-top: 8px;
		a {
      font-size: 40px;
      font-family: 'Bitter', sans-serif;
			text-shadow: 0 2px rgba(0, 0, 0, 0.36);
			color: #fff;
			text-decoration: none;
			float: left;
      margin: 30px 25px 0 0;
		}
	}
	.tag_line {
		font: 15px 'Bitter';
		color: #fff;
		display: inline-block;
		margin-top: 35px;
	}
}

.page_heading.home {
	position: absolute;
	top: 65px;
	height: 360px;
}

.page_wrapper {
	background: #f9f9f9;
	padding: 40px 0;
	overflow: hidden;
	.with_sidebar {
		width: 700px;
		float: left;
	}
	aside {
		float: right;
		width: 220px;
	}
}

.sub_heading {
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	span.line {
		background: #69799a;
		display: block;
		height: 3px;
		width: 100%;
		position: absolute;
		z-index: 1;
		top: 20px;
	}
	h2 {
		position: relative;
		z-index: 2;
		background: #fff;
		display: inline;
		padding: 0 15px;
	}
	h3 {
		margin-top: 10px;
	}
}

span.highlight {
	color: #fff;
	background: #69799a;
	padding: 2px;
	border-radius: 3px;
}

.about .one-third .inner-block {
	padding: 10px;
	p {
		font-size: 14px;
	}
}

.royalslider {
	width: 100%;
	height: 300px;
	background: #ddd;
	margin-bottom: 20px;
}

.donation {
	padding-top: 10px;
	border: 1px solid #e5e5e5;
	background: #f8f8f6;
	border-radius: 3px;

	h4 {
		text-align: center;
		margin-top: 10px;
	}

	.inner-donation {

		text-align: center;

		.donation-slider {

			font-size: 18px;

			.price {
				display: inline;
				position: relative;
				bottom: 3px;
			}

			input[type=range] {
				margin: px 0;
				width: 85%;
			}
		}

		h3 {
			text-align: center;
			margin-bottom: 15px;
		}

		h4 {
			margin-bottom: 15px;
		}
	}
}

.information {
	h4 {
		color: #69799a;
		// font-family: "Pacifico";
		font-size: 24px;
		margin-bottom: 10px;
		text-decoration: underline;
	}

	.blog {
		.blog-list-item {
			border-bottom: 1px solid #ddd;
			margin-bottom: 10px;
			.links {
				margin-bottom: 5px;
			}
			&:last-child {
				border: none;
			}
		}
	}

	.events {
		.event-item {
			border-bottom: 1px solid #ddd;
			width: 90%;
			margin-bottom: 10px;
		}
		.date {
			width: 40px;
			height: 33px;
			padding-top: 7px;
			background: #69799a;
			color: #fff;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			text-align: center;
			margin-right: 10px;
			font-size: 12px;
			float: left;
			line-height: 13px;
			position: relative;
			top: 5px;
			span {
				font-size: 18px;
				font-weight: bold;
			}
		}
	}

}

// About Page
#about {

	input {
		margin-bottom: 0;
	}

	form {
		margin-bottom: 0;
	}

	.button {
		margin-bottom: 5px;
	}

	// h2 {
	// 	text-decoration: underline;
	// }

	ul {
		margin: 0;
	}

	h3 {
		font-size: 17px;
		margin-top: 5px;
	}

	.about-image img {
		width: 100%;
		height: 200px;
		background: #ddd;
		border-radius: 5px;
	}

	p {
		margin-top: 10px;
		font-size: 12px/14px;
	}

	ul li {
		font-weight: bold;
		&:first-child {
			margin-top: 15px;
		}
	}
}

/* #History
 * Everything relating to the history goes here.
================================================== */
.blocks-in-time {
	width: 83%;
	margin: 0 auto;
}

.time-block {
	border: 1px solid #ddd;
	border-radius: 3px;
	background: #f9f9f9;
	height: 125px;
	padding: 5px;
	max-height: 125px;
	overflow: hidden;
	margin: 0 10px 0 0;
}

.year-list {
	h5 {
		font-family: 'Bitter';
		font-size: 12px;
		font-weight: bold;
	}
	border-left: 1px solid #69799a;
	padding-left: 10px;
	height: 100px;
	position: relative;
	right: 5px;
}

.sidebar {

	.sidebar-image {
		width: 100%;
		height: 200px;
		img {
			border-radius: 3px;
		}
	}

	h3 {
		border-bottom: 1px dotted #69799a;
	}

	.blog-recent-sidebar {
		.blog-item {
			h5 {
				font-size: 14px;
				font-weight: bold;
				font-family: 'Bitter';
			}
			p {
				margin-top: 3px !important;
			}
		}
	}
}

.accomplishments {
  li {
    font: normal 14px/16px 'Bitter';
  }
}

// TIMELINE
.timeline {
	border-top: 1px solid #888;
	padding-top: 10px;
	width: 100%;
	margin: 0 auto;
	ul {
		text-align: center;
		height: 40px;
		li {
			display: inline;
			margin-right: 5px;
			font-size: 14px;
			a {
				text-decoration: none;
				&:hover {
					font-weight: bold;
				}
			}
		}
	}
}

// BLOG
.blog {
	.single-blog {
		// border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
		img {
			border-radius: 4px;
		}
		.author {
			position: relative;
			bottom: 2px;
			left: 5px;
		}
		.options {
			margin-top: 10px;
			border-top: 1px dotted #69799a;
			padding-top: 5px;
		}
		.options ul li {
			display: inline;
			margin-right: 3px;
			a {
				text-decoration: none;
				font: normal 14px 'Bitter';
				color: #69799a;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

footer {
	padding-top: 30px;
	border-top: 1px solid #c9c9c9;
	background: #fff;

	.one-third {
		height: 150px;
		width: 100%;
		margin-bottom: 50px;
		text-align: left;
	}

	h5 {
		text-align: center;
		// font-family: 'Pacifico';
		font-size: 18px;
		color: #69799a;
		margin-bottom: 10px;
	}

	text-align: center;

	.copyright {
		border-radius: 4px;
		background: #f9f9f9;
		border: 1px solid #ddd;
		display: inline-block;
		font-size: 11px;
		padding: 4px 8px;
	}
}

/* #Typography
================================================== */
h1, h2 {
	font-family: 'Bitter'; // Needs changing throughout
	color: #69799a;
}
h3, h4 {
	font-family: 'Bitter';
	font-weight: normal;
	color: #292929;
}

h1 {
	font-size: 32px;
	margin-bottom: 25px;
}
h2 {
	font-size: 28px;
}
h3 {
	font-size: 22px;
	small {
		color: #69799a;
		font-size: 12px;
		font-weight: bold;
		position: relative;
		bottom: 12px;
	}
}
h4 {
	font-size: 20px;
}

p {
	font-size: 13px;
	line-height: 20px;
 	margin: 5px 0;
}

p.bigger {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 22px;
	color: #666;
}

a {
	color: #69799a;
	&:hover {
		text-decoration: none;
	}
}

span.email {
	font-size: 14px;
}

hr {
	border: none;
	border-bottom: 1px solid #69799a;
	display: block;
	margin: 25px 0;
}

.button {
  background: #69799a; /* Old browsers */
	background: #69799a -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #69799a -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #69799a -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #69799a -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #69799a -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #69799a linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	color: #fff !important;
	border: none;
	text-shadow: none;
	&:hover {
		border: none;
		background: #69799a;
	}
	&:active {
		border: none;
		background: #69799a;
	}
}

p.note {
	font-weight: bold;
	font-family: 'Bitter';
	margin: 10px 0;
	color: #84a0c3;
}

p.feedback {
	height: 30px;
	text-align: center;
	font-size: 20px;
	font-family: 'Bitter';
	padding: 8px 0 0 0;
	z-index: 100;
	width: 400px;
	font-size: 18px;
	box-shadow: #888 0 2px 6px 0;
	margin: 0 auto 20px auto;
}

p.louise {
	text-align: center;
	font-size: 16px;
	font-family: 'Bitter';
	font-weight: bold;
	color: #84a0c3;
}

.error {
	background-color: #ea7e7e;
	border: 1px solid #a71010;
	border-radius: 3px;
	color: #fff;
	display: block;
}

/* #Misc
================================================== */
.clearfix::after {
	content: "John Crossley";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}

.icon {
	font-family: "FoundationIconsGeneral";
	width: auto;
	height: auto;
	font-size: 24px;
	color: #69799a;
	// .heart {

	// }
}

// LOGIN
.login-section {
	h2 {
		margin-bottom: 10px;
		font-family: 'Bitter';
	}
}

// FORM
textarea {
	width: 400px;
	height: 120px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/**
 * Custom fonts - I could have these come in from Google Fonts but it slows
 * down connection especially during development.
 */

@font-face {
  font-family: 'FoundationIconsGeneral';
  src: font-url('foundation-icons-general.eot');
  src: font-url('foundation-icons-general.eot?#iefix') format('embedded-opentype'),
       font-url('foundation-icons-general.woff') format('woff'),
       font-url('foundation-icons-general.ttf') format('truetype'),
       font-url('foundation-icons-general.svg#FoundationIconsGeneral') format('svg');
  font-weight: normal;
  font-style: normal;
}
